.vscode

.gitignore

/Dockle/bin/
/Dockle/obj/

/Dockle/.vs/
/Dockle/.vscode/

/Dockle/.tmp/
/Dockle/.nuget/

/Dockle/project.lock.json
/Dockle/project.fragment.lock.json

/Dockle/.idea/
/Dockle/.user/

/Dockle/uploads

/Dockle/wwwroot/css/
/Dockle/wwwroot/js/
/Dockle/wwwroot/lib/

!Dockle/wwwroot/images/
!Dockle/wwwroot/raw-css/
!Dockle/wwwroot/raw-js/

/big_dummy_data/